@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
.all {
  width: 100vw;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lilita One;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5rem;
  color: lightskyblue;
  text-align: center;
}
.gayathri-bold {
  font-family: "Gayathri", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.p {
  color: papayawhip;
  font-size: 3rem;
  text-align: left;
  margin: -5rem 10rem;
}
.table {
  border-collapse: collapse;
}
.table th,
.table td {
  border-left: 0.3rem solid gold;
  border-right: 0.3rem solid gold;
}
.table th {
  text-align: center;
  border-top: 0.3rem solid gold;
  padding-top: 1rem;
}
.table td {
  font-size: 1.5rem;
  padding: 0 1.5rem 0 1.5rem;
  line-height: 2rem;
}
.table th:nth-child(1),
.table td:nth-child(1) {
  background-color: forestgreen;
}
.table th:nth-child(2),
.table td:nth-child(2) {
  background-color: navy;
  margin: 0 5rem 0 5rem;
}
.table th:nth-child(3),
.table td:nth-child(3) {
  background-color: indigo;
}
.table tr:nth-last-child(2) td {
  border-bottom: 0.3rem solid gold;
}
.table tr:nth-last-child(1) td {
  background-color: transparent;
  border-left: none;
  border-right: none;
  padding-top: 2rem;
}
.table button {
  cursor: pointer;
  width: 20rem;
  height: 2.5rem;
  font-size: 1.5rem;
  background-color: firebrick;
  outline: none;
  border: none;
  color: papayawhip;
  border-radius: 1rem;
  display: block;
  margin: auto;
}
.table td button:hover {
  background-color: dodgerblue;
  cursor: pointer;
}
