@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
.all {
  font-family: Lilita One;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  color: gold;
}
.headerImg {
  height: 12rem;
  width: 12rem;
  margin-right: 2vw;
  margin-left: 1vw;
}
.header {
  position: fixed;
  height: 10rem;
  display: flex;
  align-items: center;
  margin-top: 1vw;
}
.headerNavAll {
  display: inline;
}
.headerLi {
  background-color: royalblue;
  box-shadow: 0 0 1vw 0.5vw royalblue;
  margin: 2vw;
  padding: 0.5vw 0.5vw;
  border-radius: 1vw;
}
.headerInput {
  width: 35rem;
  color: black;
  border-radius: 1vw;
  height: 4rem;
  background-color:papayawhip;
}
.ul {
 list-style: none;
}

.a {
 text-decoration: none;
}
