@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
.all {
  font-family: Lilita One;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  color: gold;
}
/*------------------------------------*/
.headerImg {
  height: 10vw;
  width: 10vw;
  /* margin-right: 2vw;
  margin-left: 1vw; */
}
.header {
  position: relative;
  height: 9vw;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  background-color:midnightblue;
  width: 100vw;
  /* margin-top: 1vw; */
}
.headerNavAll {
  display: inline;
}
.headerLi {
  margin: 0 3.5vw 0 3.5vw;
  /* border-radius: 1vw; */
  outline: none;
  border: none;
}
/*------------------------------------*/
.ul {
  list-style: none;
}

.a {
  text-decoration: none;
}
/*------------------------------------*/
.divInput {
  position: relative;
  display: flow-root;
  /* top: 1vw; */
  /* margin-right: 2vw; */
  /* left: 0; */
}
.divInput input {
  width: 42vw;
  color: black;
  height: 3.7vw;
  background-color: papayawhip;
  outline: none;
  border: none;
  border-radius: 1.5vw 0 0 1.5vw;
  /* padding-right: 1vw; */
}
.divInput button {
  /* position: absolute; */
  height: 3.7vw;
  background-color: papayawhip;
  outline: none;
  border: none;
  color: black;
  border-radius: 0 1.5vw 1.5vw 0;
  cursor: pointer;
}
.divInput ul {
  display: inline;
  /* bottom: 1vw; */
  cursor: pointer;
}
