.gayathri-bold {
  font-family: "Gayathri", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.p {
  color: papayawhip;
  font-size: 1.5rem;
  line-height: 2rem;
}
.img {
  height: 23rem;
  width: 23rem;
  object-fit: fill;
}
.button{
  padding: 1rem 0.5rem;
  background-color:seagreen;
  outline: none;
  border: none;
  margin: 0.5rem 0;
  border-radius: 1rem;
}
.button:hover{
  background-color:dodgerblue;
  cursor: pointer;
}
.a {
  text-decoration: none;
  color: papayawhip;
}