@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
.all {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lilita One;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5rem;
  color: lightskyblue;
  text-align: center;
}
.gayathri-bold {
  font-family: "Gayathri", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.p {
  color: papayawhip;
  font-size: 2.3rem;
  text-align: justify;
  margin: -10vw 14vw;
}

/* .div .ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 2vw -6vw;
}
.div .ul li {
  flex: calc(60vw / 3);
  text-align: center;
  padding: 0 2vw;
  font-size: 1.8818rem;
}
.div .ul li{
  border:none;
}
.div .ul li:nth-child(4), .div .ul li:nth-child(5), .div .ul li:nth-child(6){
  text-align: justify;
  font-size: 1.5956rem;
}
.a {
  text-decoration: none;
} */
.table {
  border-collapse: collapse;
}

.table th {
  text-align: center;
  padding-top: 1vw;
  font-size: 1.8rem;
}
.table td {
  font-size: 1.3rem;
  padding: 0 1.5vw 0 1.5vw;
  line-height: 1.6vw;
}

