@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
.all {
  width: 100vw;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lilita One;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5rem;
  color: lightskyblue;
  text-align: center;
}
.gayathri-bold {
  font-family: "Gayathri", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.p {
  color: papayawhip;
  font-size: 1.7rem;
  text-align: justify;
  /* margin: -5rem 10rem; */
}
.section {
  display: flex;
  flex-grow: inherit;
  justify-content: center;
}
.form {
  line-height: 3.5rem;
  background-color: midnightblue;
  outline: none;
  border-radius: 2rem;
  border: 0.3rem solid gold;
}

.form input,
.form textarea {
  /* display: inline-block;
  align-items: stretch; */
  background-color: papayawhip;
  outline: none;
  border: none;
  color: black;
  border-radius: 1rem;
}
.form textarea {
  resize: none;
}
.form input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  margin-top: 8rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  bottom: 4rem;
}
.form input[type="checkbox"]:checked {
  background-color: #1e90ff;
}
.form input[type="checkbox"]:checked:after {
  content: "\2713";
  color: papayawhip;
}
.form input[type="number"]::-webkit-inner-spin-button,
.form input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.form label {
  position: relative;
  display: block;
  overflow: visible;
  /* margin-bottom: 2rem; */
}
.form label input:not(input[type="checkbox"]),
.form label textarea {
  position: absolute;
  top: 0;
  left: 25%;
  width: 30rem;
}
.form div {
  display: flex;
  gap: 31rem;
}
.form div input[type="submit"],
.form div input[type="reset"] {
  width: 15rem;
  height: 3rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.form div input[type="submit"]:hover,
.form div input[type="reset"]:hover {
  background-color: dodgerblue;
  color: papayawhip;
  cursor: pointer;
}
.form fieldset {
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
  border-bottom-width: 0;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}
