@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
.all {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lilita One;
  font-weight: 400;
  color: gold;
  font-size: 5rem;
  font-style: normal;
  text-align: center;
}
.a {
  text-decoration: none;
  color: lightskyblue;
  font-size: 3rem;
  cursor: pointer;
}
.i {
  color: orangered;
  font-size: 4rem;
}
