@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
.all {
  width: 100vw;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lilita One;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5rem;
  color: lightskyblue;
  text-align: center;
}
.gayathri-bold {
  font-family: "Gayathri", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.p {
  color: papayawhip;
  font-size: 1.7rem;
  text-align: justify;
  /* margin: -5rem 10rem; */
}
.section{
  display: flex;
  flex-grow: inherit;
  justify-content: center;
}
.form {
  line-height: 3rem;
  background-color:midnightblue;
}

.form input, .form textarea{
  /* display: inline-block;
  align-items: stretch; */
  background-color: papayawhip;
  outline: none;
  border: none;
  color: black;
  border-radius: 1rem;
}
.form textarea{
  resize: none;
}
.form input[type="checkbox"]{
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  margin-top: 3rem;
}
.form input[type="checkbox"]:checked{
  color:mediumspringgreen
}
.form input[type="number"]::-webkit-inner-spin-button,.form input[type="number"]::-webkit-outer-spin-button{
  appearance: none;
  margin: 0;
}
.form label {
  position: relative;
  display: block;
  overflow: visible;
  margin-bottom: 2rem;
}
.form label input:not(input[type="checkbox"]), .form label textarea{
  position: absolute;
  top: 0;
  left: 25%;
  width:25rem;
}
.form div{
  display: flex;
  gap: 25rem;
}
.form div input[type="submit"],.form div input[type="reset"]{
  width:15rem;
  height:3rem;
  text-align:center;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.form div input[type="submit"]:hover,.form div input[type="reset"]:hover{
  background-color:dodgerblue;
  color:papayawhip
}

