body {
  box-sizing: border-box;
  background-image: url("./assets/background-book.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  margin: 0;
}
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*::-moz-selection {
  background: none;
}
*::selection {
  background: none;
}
