body {
  box-sizing: border-box;
  background-image: url("./assets/background-book.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
  margin: 0;
}
