@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
.all {
  font-family: Lilita One;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: gold;
}
.section {
  font-size: 4.5rem;
  color: lightskyblue;
  text-align: center;
  padding-top: 3rem;
}
.headerUl {
  font-size: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 7rem;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  text-align: center;
  justify-content: center;
  align-items: first baseline;
}
/*------------------------------------*/
.headerImg {
  height: 7rem;
  width: 7rem;
}
.header {
  position: relative;
  height: 7rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  background-color: midnightblue;
  width: 100vw;
}
.headerNavAll {
  display: inline;
}
.headerLi {
  margin: 0 2rem 0 2rem;
  outline: none;
  border: none;
}
/*------------------------------------*/
.ul {
  list-style: none;
}

.a {
  text-decoration: none;
}
/*------------------------------------*/
.divInput {
  position: relative;
  display: flex;
}
.divInput input {
  width: 35rem;
  color: black;
  height: 3rem;
  background-color: papayawhip;
  outline: none;
  border: none;
  border-radius: 2rem 0 0 2rem;
  margin-left: 2rem;
  margin-top: 1.5rem;
}
.divInput button {
  position: absolute;
  z-index: 1;
  height: 3rem;
  background-color: papayawhip;
  outline: none;
  border: none;
  color: black;
  border-radius: 0 2rem 2rem 0;
  cursor: pointer;
  margin-top: 1.5rem;
}
.divInput ul {
  display: inline;
  cursor: pointer;
}
/* For Desktop View */
/* @media screen and (min-width: 64rem) {
  
} */

/* For Tablet View */
/* @media screen and (min-device-width: 48rem) and (max-device-width: 64rem) {
  
} */

/* For Mobile Portrait View */
/* @media screen and (max-device-width: 30rem) and (orientation: portrait) {
  
} */

/* For Mobile Landscape View */
/* @media screen and (max-device-width: 40rem) and (orientation: landscape) {
  
} */

/* For Mobile Phones Portrait or Landscape View */
/* @media screen and (max-device-width: 40rem) {
  
} */

/* For iPhone 4 Portrait or Landscape View */
/* @media screen and (min-device-width: 20rem) and (-webkit-min-device-pixel-ratio: 2) {
  
} */

/* For iPhone 5 Portrait or Landscape View */
/* @media (device-height: 35.5rem) and (device-width: 20rem) and (-webkit-min-device-pixel-ratio: 2) {
  
} */

/* For iPhone 6 and 6 plus Portrait or Landscape View */
/* @media (min-device-height: 41.688rem) and (min-device-width: 23.438rem) and (-webkit-min-device-pixel-ratio: 3) {
  
} */
